body {
  margin: 0;
}

.header {
  height: 942px;
  background-image: url("../images/1@2x.png");
  background-size: cover;
  position: relative;
}

.header .left-side {
  width: 0;
  height: 0;
  border-right: 34.7vw solid transparent;
  border-bottom: 15.3vw solid #ffffff;
  position: absolute;
  bottom: -1px;

}

.header .right-side {
  width: 0;
  height: 0;
  border-left: 65.5vw solid transparent;
  border-bottom: 15.3vw solid #ffffff;
  position: absolute;
  bottom: -1px;
  right: 0;
}

.header .header-gradient {
  height: 100%;
  opacity: 0.8;
  background-image: linear-gradient(-212deg, #605966 0%, #322D36 100%);
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.header-items {
  position: absolute;
  width: 100%;
  top: 0;
}

.header .header-menu {
  text-align: center;
  margin-top: 59px;
}

.header .header-menu .menu {
  display: inline-block;
  margin: 0;
}

.menu span {
  display: none;
}

.header .header-menu .menu li {
  list-style-type: none;
  float: left;
  margin: 0 10px;
  padding-bottom: 5px;
}

.header .header-menu .menu li a {
  text-decoration: none;
  color: #c0bec1;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}

.header .header-menu .menu li.active {
  border-bottom: 2px solid #E43B40;
}

.header .header-menu .menu li.active a {
  color: #ffffff;
}

.header-content {
  text-align: center;
  margin-top: 246px;
}

.headline {
  font-family: Roboto-Black;
  font-size: 90px;
  color: #FFFFFF;
  letter-spacing: -1.5px;
  line-height: 90px;
}

.subheadline {
  font-family: "Merriweather";
  font-size: 21px;
  margin-top: 16px;
  color: #ffffff;
}

.btn-red {
  text-transform: uppercase;
  background: #E43B40;
  box-shadow: 0 2px 34px 0 rgba(0,0,0,0.50);
  font-family: "Roboto-Bold";
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  padding: 20.5px 18px;
  margin-top: 60px;
  color: #FFFFFF;
  letter-spacing: -0.67px;
  display: inline-flex;
  position: relative;
  width: 223px;
}

.btn-red:hover {
  background: #FF595E;
}

.arrow {
  height: 15px;
  width: 9px;
  position: absolute;
  top: calc(50% - 7.5px);
  right: 18px;
  background-image: url("../images/icons/icon-arrow.png")

}

.new_srct {
  /* NEW SRCT: */
  opacity: 0.1;
  font-family: Roboto-Bold;
  font-size: 250px;
  color: #FFFFFF;
  letter-spacing: -10.41px;
  line-height: 250px;
  text-transform: uppercase;
  margin-top: 87px;
  margin-left: 65.5px;
}

.about_us {
}

.section {
  position: relative;
}

.section_inside {
  position: relative;
  /*padding: 75px 132px 0 134px;*/
  padding-top: 75px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.section_title {
  /* ABOUT US: */
  font-family: Roboto-Bold;
  font-size: 19px;
  color: #151416;
  letter-spacing: -0.79px;
  line-height: 22px;
  text-transform: uppercase;
  margin-left: 91px;
  text-align: left;
  position: relative;
}

.section_title::before {
  width: 3px;
  height: 80px;
  background-color: #E43B40;
  position: absolute;
  bottom: -95px;
}

.section_title span {
  font-family: Roboto-Bold;
  font-size: 22px;
  color: #CECED2;
  letter-spacing: -0.92px;
  line-height: 22px;
  display: block;
}

.section_title .line {
  border-left: 3px solid #E43B40;
  height: 80px;
  margin-top: 15px;
}

.section_big_text {
  opacity: 0.05;
  color: #000000;
  font-family: Roboto-Bold;
  /*font-size: 220px;*/
  font-size: 198px;
  letter-spacing: -10.41px;
  text-transform: uppercase;
  line-height: 156px;
}

.about_us .section_big_text {
  word-spacing: -40px;
  margin-top: -90px;

}

.how_it_works .section_big_text {
  margin-top: 70px;
  padding-bottom: 45px;
  position: relative;
  z-index: 2;
  font-size: 220px;
}

.section_box {
  display: inline-block;
  padding: 69px 37px 82px;
  /*margin: 0 41px;*/
  text-align: left;
}

.about_us .section_box {
  position: relative;
  z-index: 1;
}
.about_us .section_box {
  background: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.17);
  margin-top: -29px;
}

.how_it_works .section_box {
  padding-bottom: 11px;
}

.how_it_works .btn-red {
  width: 305px;
}
.section_box .part {
  width: 33%;
  float: left;
}

.section_box .icon {
  text-align: center;
  margin-bottom: 58.5px;
  height: 67px;
}

.section_box .part_content {
  padding: 0 52px;
  position: relative;
  height: calc(100% - 125.5px);
}

.section_box .part .part_content:before {
  content: "";
  background-color: #E7E7E7;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 100%;
}

.section_box .part:last-child .part_content:before {
  content: "";
  background-color: #E7E7E7;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}

.section_box .part .title {
  /* Designed by: */
  font-family: Roboto-Medium;
  font-size: 26px;
  color: #404040;
  letter-spacing: 0;
  padding-bottom: 10px;
  position: relative;
  z-index: 2;
}

.section_box .part .number {
  font-family: Roboto-Bold;
  font-size: 122px;
  color: #E3E3E3;
  letter-spacing: -5.27px;
  line-height: 122px;
  position: absolute;
  top: -60px;
}

.section_box .part .text {
  /* Every piece of this : */
  font-family: Merriweather-Regular;
  font-size: 15px;
  color: #9A9A9A;
  letter-spacing: 0;
  line-height: 29px;
  padding-top: 20px;
}

.about_us .left-side {
  width: 0;
  height: 0;
  border-right: 34.75vw solid transparent;
  border-bottom: 15.3vw solid #f8f8f8;
  position: absolute;
  bottom: 55px;
}

.about_us .right-side {
  width: 0;
  height: 0;
  border-left: 66.3vw solid transparent;
  border-bottom: 14.65vw solid #f8f8f8;
  position: absolute;
  bottom: 55px;
  right: 0;
}


.how_it_works {
  background-color: #f8f8f8;
  margin-top: -55px;
}

.how_it_works .section_inside {
  padding-top: 178px;
  text-align: center;
}

.image {
  position: relative;
}

.image img {
  position: absolute;
  top: 67px;
  left: 0;
}

/*Comments*/
.comments {
  position: relative;
  padding: 172px 0 0;
  margin-bottom: 52px;
}

.comments .section_inside {
  padding-top: 0;
}

.comments .section_title {
  margin-bottom: 60px;
}

.section_comments_inside {
  padding: 0 91px;
}

.comments .comment_box {
  background: #FFFFFF;
  box-shadow: 0 0 30px 0 rgba(0,0,0,0.06);
  padding: 20px 82px;
  margin-bottom: 20px;
  width: calc(100% - 164px);
  display: inline-block;
}

.comment_box img {
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
  float: left;
}

.comment_text_box {
  width: calc(100% - 86px);
  float: left;
  position: relative;
}

.comment_box input[type="text"] {
  border: none;
  border-bottom: 1px solid #E7E7E7;
  padding: 20px 0;
  width: 100%;
  vertical-align: top;
  font-family: .SFNSText-Regular;
  font-size: 16px;
}

.comment_box .btn-send {
  background-image: url("../images/icons/icon-send.png");
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 12px;
  cursor: pointer;
}

.comment_box .btn-send:hover {
  background-image: url("../images/icons/icon-send-red.png");
}

.all_comments {
  padding: 0 82px;
  margin-top: 54px;
}

.all_comments .comment_box {
  padding: 34px 41px;
  width: 100%;
}
.number_of_comments {
  font-family: Roboto-Light;
  font-size: 26px;
  color: rgba(0,0,0,0.60);
  margin-bottom: 55px;
}

.comment_header {
  display: inline-block;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.name_and_time {
  float: left;
  margin: 9.5px 0;
}

.name_and_time .name {
  font-family: Roboto-Medium;
  font-size: 16px;
  color: #818181;
  letter-spacing: -0.67px;
  margin-bottom: 3px;
}

.name_and_time .time {
  font-family: Roboto-Regular;
  font-size: 12px;
  color: #C2C2C2;
  letter-spacing: -0.5px;
}

.btn-replay {
  background-image: url("../images/icons/reply-icon.png");
  position: absolute;
  right: 0px;
  width: 19px;
  height: 14px;
}
.btn-replay:hover {
  background-image: url("../images/icons/reply-icon-red.png");
}

.comment_text {
  font-family: Merriweather-Regular;
  font-size: 16px;
  color: #9A9A9A;
  letter-spacing: -0.67px;
  line-height: 26px;
}

.replied_comment {
  margin-left: 82px;
  border-left: 3px solid #E43B40;
  width: calc(100% - 82px) !important;
}

.footer {
  position: relative;
}

.footer .left-side {
  width: 0;
  height: 0;
  border-right: 34.7vw solid #ffffff;
  border-bottom: 15.3vw solid transparent;
  position: absolute;
  top: 0;
  z-index: 1;
}

.footer .right-side {
  width: 0;
  height: 0;
  border-left: 65.5vw solid #ffffff;
  border-bottom: 15.3vw solid transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}

.up_footer {
  background-image: url("../images/2@2x.png");
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 733px;
  position: relative;
}

.up_footer .footer-gradient {
  opacity: 0.6;
  background: #F8F8F8;
  background-image: linear-gradient(-212deg, #605966 0%, #322D36 100%);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.footer-content {
  padding-top: 375px;
  position: absolute;
  width: 100%;
}
.down_footer {
  padding: 34.5px 0;
  background: rgba(0,0,0,0.80);
  text-align: center;

}
.center {
  display: inline-block;
}
.share {
  font-family: Roboto-Bold;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: -0.67px;
  line-height: 16px;
  text-transform: uppercase;
  float: left;
  line-height: 28px;
  margin-right: 3px;
}
.facebook, .twiter {
  float: left;
  margin-left: 11px;
}

.icn-social {
  background-color: #fff;
  width: 28px;
  padding: 6px 0;
  text-align: center;
  border-radius: 50%;
}

#replay_comment_box {
  margin-left: 82px;
  width: calc(100% - 82px);
  display: none;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Merriweather-Regular;
  font-size: 16px;
  color: #9A9A9A;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: Merriweather-Regular;
  font-size: 16px;
  color: #9A9A9A;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: Merriweather-Regular;
  font-size: 16px;
  color: #9A9A9A;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: Merriweather-Regular;
  font-size: 16px;
  color: #9A9A9A;
}

*:focus{
    outline: none;
}

@media (min-width: 768px) {
  .section_inside {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .section_inside {
      width: 970px;
  }
}

@media (min-width: 1200px) {
  .section_inside {
    width: 1170px;
  }
}

/* Mobile Design */
@media (max-width: 767px) {

  .header {
    height: 560px;
  }

  .header-menu {
    position: relative;
    margin-top: 0 !important;
  }

  .header .header-menu .menu {
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    left: 0;
    padding-left: 0;
    height: 560px;
    z-index: 1;
    border-bottom: 2px solid red;
    padding-top: 222px;
    display: none;
  }

  .header .header-menu .menu li {
    float: initial;
    color: #000;
    padding-bottom: 45px;
  }

  ul.menu span {
    display: block;
    font-size: 0;
    width: 19px;
    height: 19px;
    background-image: url("../images/icons/menu-close.png");
    position: absolute;
    top: 27px;
    right: 30px;
    cursor: pointer;
  }

  .header .header-menu .menu li.active {
    color: #000;
    border-bottom: none;
  }

  .mobile-menu {
    background-image: url("../images/icons/Menu.png");
    width: 23px;
    height: 13px;
    position: absolute;
    top: 30px;
    right: 27px;
    cursor: pointer;
  }

  .header-content {
    margin-top: 80px;
  }

  .section_title {
    margin-left: 11px;
  }
  .section_title .line {
    display: none;
  }
  .section_box {
    padding: 107px 39px 0;
  }

  .section_box .part {
    width: 100%;
  }

  .section_box .part_content {
    padding: 0;
    margin-bottom: 49px;
    text-align: center;
  }

  .section_box .part:last-child .part_content {
    margin-bottom: 24px;
  }

  .section_box .part .part_content:before {
    content: "";
    background-color: #E7E7E7;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 1px;
  }

  .section_box .part .title {
    line-height: 30px;
  }

  .section_box .icon {
    height: initial;
    margin-bottom: 30px;
  }

  .section_box .part .text {
    padding-top: 24px;
    padding-bottom: 55px;
  }

  .about_us .section_big_text {
    margin-top: 42px;
  }

  .how_it_works .section_inside {
    padding-top: 99px;
  }

  .how_it_works .section_box {
    padding: 95px 39px 0;
  }

  .section_box .part .number {
    left: calc(50% - 32px);
  }

  .how_it_works .image {
    display: none;
  }

  .how_it_works .section_box .part .number {
    top: -59px;
  }

  .how_it_works .section_box .part_content {
    margin-bottom: 110px;
  }

  .how_it_works .section_box .part .part_content:before {
    content: "";
    background-color: #E7E7E7;
    position: absolute;
    bottom: 0;
    right: 49px;
    width: calc(100% - 98px);
    height: 1px;
  }

  .how_it_works .section_box .part:last-child .part_content:before {
    content: "";
    background-color: #E7E7E7;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
  }

  .how_it_works .section_box .part .title {
    padding-bottom: 51px;
  }

  .how_it_works .btn-red {
    margin-top: -10px;
    width: calc(100% - 36px);
  }

  .section .comments {
    padding: 0;
    margin: 0;
  }

  .section_comments_inside {
    padding: 0;
  }

  .comments .comment_box {
    padding: 20px;
    width: calc(100% - 40px);
  }

  .write_comment {
    text-align: center;
  }

  .comment_box img {
    float: inherit;
  }

  .comment_text_box {
    float: inherit;
    width: 100%;
    margin-top: 20px;
  }

  .comment_box input[type="text"] {
    text-align: center;
  }

  .comment_box .btn-send {
    margin-top: 20px;
    display: inline-block;
    position: initial;
  }

  .number_of_comments {
    text-align: center;
    margin-bottom: 20px;
  }

  .all_comments {
    margin-top: 30px;
    padding: 0;
  }

  .all_comments .comment_box img {
    float: left;
    margin-left: 10px;
  }

  .all_comments .comment_box {
    padding: 34px 31px;
  }

  .btn-replay {
    top: -9px;
    right: -8px;
  }

  .comment_text {
    text-align: center;
  }

  .replied_comment {
    margin-left: 0;
    width: 100% !important;
  }

  .footer-content {
    padding-top: 150px;
  }

  .up_footer {
    height: initial;
    min-height: 550px;
    padding-bottom: 30px;
  }

  .up_footer .btn-red {
    margin-top: 97px;
  }

  .new_srct {
    display: none;
  }

  .section_big_text {
    font-size: 36vw;
    line-height: 85%;
  }

  .header .header-menu .menu li.active a {
    color: #c0bec1;
  }

  .fixed {
    height: 73px;
    /*background-color: #fff;*/
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }

  /*.about_us .section_box {
    margin-top: -29px;
  }*/




}
